@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
main {
    font-family: 'Tajawal', sans-serif;
}

li:hover {
    outline: #8f9596 1px dashed;
}

body {
    scroll-behavior: smooth !important;
    scrollbar-width: 100px;
}